<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} Inlined CSS Variables {% endcomment %}
    {% render 'css-variables' %}

    {% comment %} Load and preload the critical CSS {% endcomment %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% comment %} Social, title, etc. {% endcomment %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
